body{
        background:#e8f0fe;
        font-family: 'Roboto', sans-serif;
      }

     
.def{
    float:left;
    width: 500px;
}

.grid-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    }
.grid-item-1{
    width: 500px;
    text-align: center;
    border-right: 3px solid #dadce0;
}
.grid-item-2{
    width: 200px;
    text-align: left;
    border-right: 3px solid #dadce0;
}      
.grid-item-3{
    width: auto;
    text-align: center;
}

.action{
    height: 300px;
}

.action_form{
    height: 300px;
}

.definition{
    height: 300px;
}

.code{
    height: 300px;
}